Repository dicarlosofia/ReuseU, pull requests merged in 2025-05, with the labels that each got.

#174 Final Color Pallette
  backend/requirements.txt
  backend/routes/message.py
  frontend/src/components/Auth/LoginButton.tsx
  frontend/src/components/Chat/ChatComponent.tsx
  frontend/src/components/Dashboard.tsx
  frontend/src/components/Dropdown/Dropdown.tsx
  frontend/src/components/Listings/CreateListing.tsx
  frontend/src/components/Listings/FullListing.tsx
  frontend/src/components/Listings/Listing.tsx
  frontend/src/components/Listings/ListingsHomepage.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/ProfileSection/EditProfileModal.tsx
  frontend/src/components/ProfileSection/ProfileSection.tsx
  frontend/src/pages/create.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/signup.tsx
Labels: Epic 4: Frontend/Visual Development, Epic 5: Final Version Development

#182 Fixed the padding on the listings page
  frontend/src/components/Listings/ListingsHomepage.tsx
  frontend/src/pages/profile/[profile].tsx
Labels: Epic 4: Frontend/Visual Development, Epic 5: Final Version Development

#183 fixed listings in mobile view and dropdown
  frontend/src/components/Dashboard.tsx
  frontend/src/components/Dropdown/Dropdown.tsx
  frontend/src/components/Listings/CreateListing.tsx
  frontend/src/components/Listings/Listing.tsx
  frontend/src/components/Listings/ListingsHomepage.tsx
  frontend/src/components/ProfileSection/ProfileSection.tsx
  frontend/src/pages/api/accounts.ts
  frontend/src/pages/my_profile.tsx
Labels: Epic 3: Creating and Managing Listings, Epic 4: Frontend/Visual Development, Epic 5: Final Version Development

#185 Openai pk json functionality addition
  .DS_Store
  .gitignore
  backend/services/openai_price_fill.py
Labels: completed, Epic 4: Frontend/Visual Development, Epic 5: Final Version Development
